:root {
  --bannerDarkGreyColor: #333E48;
  --bodyColor: #EAEFF1;
  --taskListColor: #8d8d8d;
  --darkerBlueHighlightColor: #237FAA;
  --blueHighLightBorderColor:
}
body{
  background-color: var(--bodyColor);
  margin: 0;
  padding: 0;
  text-align: center;
}
.password {
  color: red;
}
.headerbar{
font-size: 500%;
Position: sticky;
text-align: center;
background-color: var(--bannerDarkGreyColor);
top: 0;
border: 1px solid var(--bannerDarkGreyColor);
}
.headerbar #ghost{
  float: left;
  padding: 5px 0 0 10px;
  color: white;
}
.headerbar #banner{
  max-width: 200px;
  height: 60px;
  padding: 0 0 0 10px;
}
.column{
  padding: 20px;
  margin: 20px 20px 20px 0px;
}
.column h2{
text-align: center;
font-size: 300%;
border-bottom: 3px solid #111;
display: inline;
font-family: foxLite;
}
.column .taskList ul{
  border-radius: 10px;
  list-style-type: none;
}
.column .taskList li{
background-color: var(--taskListColor);
font-size: 100%;
color: var(--bodyColor);
font-family: 'Courier New', Courier, monospace;
padding: 10px 10px 10px 0px;
border-bottom: 2px solid #111;
border-radius: 10px;
border-bottom-right-radius: 5px;
text-indent: 10px;
text-align: left;
transition: all 0.75s ease;
}
.column .taskList li span{
  float: right;
}
.progress{
display: block;
text-align: center;
font-size: 300%;
}
footer{
  text-align: center;
  padding: 20px;
  background-color: var(--bannerDarkGreyColor);
  color: white;
  margin: 0;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}
.add{
  float: right;
}
.dropdown{
  position: relative;
  display: inline-block;
}
.dropdownbtn{
  font-size: 100%;
  background-color: var(--bannerDarkGreyColor);
  border:none;
  padding: 0 0 0 10px;
  color: white;
}
.dropdown-content{
  font-size: 14px;
  display: none;
  position: absolute;
  background-color: var(--darkerBlueHighlightColor);
  min-width: 450px;
  z-index: 1;
  right: 0;
  border-radius: 2px;
}
.dropdown-content .addTask{
  display: block;
  padding: 12px 10px;
  color: white;
  font-family: 'Courier New', Courier, monospace;
}
.dropdown-content .addTask input{
  border-radius: 2px;
  border: 1px solid #111;
  width: 20%;
}
.dropdown-content .addTask input[type=text]{
  transition-property: width;
  transition-duration: 0.4s;
}
.dropdown-content .addTask input[type=text]:focus{
  width: 50%;
}
.dropdown:hover .dropdown-content{
  display: block;
}
.dropdown:hover .dropdownbtn{
  background-color: var(--blueHighlightColor);
  border-bottom: 1px solid var(--blueHighlightColor);
}
li > button {
	font-weight: normal;
  background-color: var(--bannerDarkGreyColor);
  border-radius: 4px;
	border: none;
	float: right;
	color: white;
  font-weight: 800;
  transition-property: all;
  transition-duration: 0.4s;
}
input {
	border-radius: 5px;
	min-width: 30%;
	padding: 10px;
  border: 1px solid var(--blueHighlightColor);
  transition: all;
  transition-duration: 0.4s;
  visibility: hidden;
  display: none;
}
input:hover{
  border-color: rgb(0, 146, 231);
}
#enter{
  border-radius: 5px;
  border: 1px solid #333E48;
  background-color: #333E48;
  color: #EAEFF1;
  padding: 10px;
  transition: all;
  transition-duration: 0.4s;
  visibility: hidden;
  display: none;
}
#enter:hover{
  color: rgb(255, 187, 0) !important;
  background-color: rgb(0, 146, 231) !important;
  border-color: rgb(0, 146, 231);
}
.done{
  border-bottom-color: rgb(255, 187, 0) !important;
  background-color: rgb(0, 146, 231) !important;
}
.done button{
  background-color: #237FAA !important;

}
.delete{
  display:none;
}
#title{

}
@font-face{
  font-family: foxLite;
  src: url(foxlite_script.otf);
}
@font-face{
  font-family: handWritten;
  src: url(Handletterink.otf);
}
@media screen and (max-width: 600px){
  .column{
    margin: 0;
    padding: 0;
    font-size: .9em
  }
  .column .taskList ul{
    margin: 0;
    padding: 0;

  }
  .column ul li{
  }
}
